.cards-wrapper .cards-wrapper__header{
  margin-bottom: 42px;
  display: flex;
  flex-direction:column;
}
.cards-wrapper .cards-wrapper__header a{
  color: #ea282c;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}
.card :where(h4,p){
  margin-bottom: 0px;
}
.card__body{
  margin-bottom: 36px;
}
.card img{
  margin-bottom: 24px;
  width: 100%;
}
.card .card__desc{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 10px;
  gap: 2px;
}
.card .card__type{
  color: #6ACCE0;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .card .card__desc{
    flex-direction: row;
    gap: 60px;
    margin-top: 0;
  }
  .cards-wrapper .cards-wrapper__header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}