{# Module styles #}

{% require_css %}
  <style>
    {% scope_css %}

    {% end_scope_css %}
  </style>
{% end_require_css %}

{# Cards #}

<div class="cards-wrapper">
  <div class="cards-wrapper__header">
    <h2>Lorem ipsum dolor sit met</h2>
    <a href="#" >Search more</a>
  </div>
  <div class="cards">
    {# Loops through each card in the cards repeater #}
      {% for card in module.card %}
        <div class="card">
          <img src="{{ card.image.src|escape_url }}" alt="{{ card.image.alt|escape_attr }}" >
          <div class="card__body">
            <p class="card__type">{{ card.content.marina_type }}</p>
            <h4>{{ card.content.title }}</h4>
            <div class="card__desc ">
              <p>{{ card.content.location }}</p>
              <div class="stars_wrapper flex">
                {% for i in range(5) %}
                  {% if i < card.content.rating %}
                  <svg height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 53.867 53.867" xml:space="preserve">
                  <polygon style="fill:#EFCE4A;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                    10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                  </svg>
                  {% else %}
                  <svg height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                      viewBox="0 0 53.867 53.867" xml:space="preserve">
                    <polygon style="fill:#BCBCBC;" points="26.934,1.318 35.256,18.182 53.867,20.887 40.4,34.013 43.579,52.549 26.934,43.798 
                                                          10.288,52.549 13.467,34.013 0,20.887 18.611,18.182 "/>
                  </svg>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
            <a href="{{ card.button.url }}" class="button">{{ card.button.text }}</a>
        </div>
      {% endfor %}
  </div>
</div>





