<!--
  templateType: global_partial
  label: Footer
-->

<style>
  .footer{
    padding: 34px 0;
  }
  .footer ul[role="menu"] li:not(:last-child):after {
    content: '|';
    display: inline-block;
    margin: 0 6px;
    }
  .footer ul[role="menu"] li a {
    font-size: 16px;
    color: #6ACCE0;
    text-decoration: none;
  }
</style>

<footer class="footer">
<div class="container flex items-center justify-between">
  <div>
  {% module "footer-navigation"
    path="@hubspot/simple_menu",
    label="footer-navigation",
  %}
  </div>
</div>
</footer>
