<!--
  templateType: global_partial
  label: Footer
-->

<style>
  .footer{
    padding: 34px 0;
  }
  footer .container{
    flex-direction: column;
    gap: 20px;
  }
  footer .hs-menu-wrapper.hs-menu-flow-horizontal ul{
    flex-direction: row;
  }
  .footer ul[role="menu"] li:not(:last-child):after {
    content: '|';
    display: inline-block;
    margin: 0 6px;
    }
  .footer ul[role="menu"] li a {
    font-size: 16px;
    color: #6ACCE0;
    text-decoration: none;
  }
  p.copyright{
    margin-bottom: 0;
  }
</style>

<footer class="footer">
<div class="container flex items-center justify-between">
  <div>
  {% module "footer-navigation"
    path="@hubspot/simple_menu",
    label="footer-navigation",
  %}
  </div>
  <p class="copyright">&copy; Copyright <span id="currentYear"></span></p>
</div>
</footer>

<script>
document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>