<!--
  templateType: global_partial
  label: Website header
-->
<style>
  header {
    background-color: #0E1225;
    padding: 24px 0 16px 0;
  }
  header #hs_cos_wrapper_site_logo{
    margin-right: 20px;
  }
  .header__actions{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
<header>

  <div class="container flex items-center justify-between">
    <div class="flex items-center">
      {% module "site_logo"
      path="@hubspot/logo"
      img={
        "loading": "eager"
      }
    %}
     <div class="header__navigation header--element">
      {% module "navigation-primary"
        path="../../modules/menu",
        label="Primary navigation"
      %}
    </div>
    </div>

  <div class="header__actions">
    <a class="button" href="">Sign Up</a>
    <a class="button button_nobg" href="">Log in</a>
  </div>
  </div>
</header>
