.banner-wrapper{
  position: relative;
  background-color: #0E1225;
  padding: 50px 25px;
  color: #FFFFFF;
}
.banner-wrapper h3{
  color: #FFFFFF;
}

.banner-wrapper img.banner-wrapper__mobile-image {
  display: block;
  margin: 0 auto 64px auto;
  width: 100%;
  max-width: 240px;
  height: auto;
  padding: 15px;
}
.banner-wrapper img.banner-wrapper__desktop-image {
  display: none;
}
.banner-wrapper .button{
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .banner-wrapper{
    padding: 25px 30px;
    display: flex;
    gap: 20px;
  }
  .banner-wrapper p{
    margin-bottom: 40px;
  }
  .banner-wrapper img.banner-wrapper__mobile-image {
    display: none;
  }
  .banner-wrapper img.banner-wrapper__desktop-image {
    display: block;
    max-width: 260px;
    height: 350px;
    margin-bottom: 0px;
  }
  .banner-wrapper .button{
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  .banner-wrapper{
    padding: 50px 60px;
  }
  .banner-wrapper p{
    width: 60%;
    padding-right: 20px;
  }
  .banner-wrapper img.banner-wrapper__desktop-image {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-13%, -50%);
  }
}