{% import '../tools/_macros.css' %}

{% set button_bg_color = color(theme.buttons.background.color) %}
{% set button_text_color = color(theme.buttons.text.font) %}
{% set button_color_hover = color(theme.buttons.hover.text.color) %}
{% set button_background_hover = color(theme.buttons.hover.background.color) %}


.button, input[type="submit"]  {
  background-color: {{ button_bg_color }};
  color: {{ button_text_color }};
  padding: 0.875rem 2rem;
  border-radius: 5px;
  font-size: 1rem;
  display: inline-block;
  text-decoration: none;
}
.button:hover, input[type="submit"]:hover, input[type="submit"]:focus{
  background-color: {{ button_background_hover }};
  color: {{ button_color_hover }};
  text-decoration: none;
}
.button.button_nobg{
  background-color: transparent;
}